@import "./shared/fonts";

//Pages
@import "./index";

//Components
@import "./header";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Helvetica";
}

.clickable {
  cursor: pointer;
}

.self-typed {
  font-size: 31px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute;
}

.base-page {
  padding-top: 150px;
  color: white;
}

.activeLink {
  color: green;
}

//react-slick
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
